*{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none
}
img{
  display: block;
  height: auto;
  width:100%; 
}
.text-c{
  text-align: center;
}
.text-l{
  text-align: left;
}
.text-r{
  text-align: right;
}
.fll{
  float: left;
}
.flr{
  float: right;
}
.ovf{
  overflow: hidden;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-bet{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
$main-color: #8cd92d;
$default-color: #696969;
header .logo{
  padding: 10px;
  width: 61%;
}
.banner{
  .swiper-container {
    width: 100%;
    padding: 20px 0 50px 0;
    background: #f9f9f9;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;  
    }
  }
}
.goods-info{
  .title{
    padding: 10px;
    font-size: 0.4rem;
  }
  .text-content{
    padding: 0 20px;
    font-size: 0.3rem;
    text-indent: 2em;
  }
  ul{
    .item{
      flex: 1;
      padding: 30px 0;
      position: relative;
      &:nth-child(1)::before{
        contain: '';
        display: none;
      }
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        display: inline-block;
        margin-top: -0.5rem;
        width: 2px;
        height: 1rem;
        background: #e2e2e2;
        transform: rotate(20deg)
      }
      span{
        display: block;
        
        line-height: 0.4rem;
        &.light{
          font-size: 0.3rem;
          color: $main-color
        }
        &.default{
          font-size: 0.28rem;
          color: #999;
        }
      }
    }
  }
  
}
.recite{
  padding: 20px 15px;
  border-top: solid 1px #969696;
  border-bottom: solid 1px #969696;
  box-sizing: border-box;
  &-left{
    .left-item{
      margin-right: 10px;
    }
  }
  &-right{
    display: flex;
    align-items: center;
  }
  a{
    display: inline-block;
    padding: 0.1rem 0.2rem;
    font-size: 0.3rem;
    border-radius: 5px;
    &.left-item{
      color: #f00;
      border: solid 2px #f00;      
    }
    &.right-item{
      color: $main-color;
      border: solid 2px $main-color;
    }
  }
}

.tab{
  padding: 20px 0;
  margin-top: 30px;
  box-shadow: 0 -5px 5px 0px #ccc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  &-item{
    flex: 1;
    font-size: 0.36rem;
    color: #696969;
    transition: color 0.3s;
    &.active{
      color: $main-color
    }
  }
}
.container{
  padding: 15px;
  width: 100%;
  background: #f0f0f0;
  box-sizing: border-box;  
  .tab-content{
    display: none;
    &.active{
      display: block;
    }
    .detection{
      margin-top: 30px;
      background: #fff;
      border-radius: 10px;
      &-title{
        padding: 15px 10px;
        border-bottom: solid 1px #ccc;
        .icon-title{
          font-size: 0.3rem;
          color: $main-color;
          i{
            display: inline-block;
            width: 0.36rem;
            margin-right: 5px;
          }
        }
        span{
          font-size: 0.26rem;
          color: $default-color;
        }
      }
      .video-title{
        padding: 10px;
        border-bottom: solid 1px #ccc;
        span{
          font-size: 0.32rem;
        }
        a{
          width: 0.4rem;
          height: 0.4rem;
          border-top: solid 2px #ccc;
          border-left: solid 2px #ccc;
          transform-origin: center center;
          &.btn-prev{
            transform: rotate(-45deg);
          }
          &.btn-next{
            transform: rotate(135deg)
          }
        }
      }
      .video{
        position: relative;
        margin-top: 20px;
        width: 100%;
        height: auto;
        &-swiper{
          width: 100%;
          height: 260px;
          .video-wrapper{
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        .btn{
          position: absolute;
          width: 1rem;
          height: 1rem;
          background: red
        }
      }
      .data-view{
        position: relative;
        margin-top: 20px;
        padding: 1rem 0;
        color: #fff;
        font-size: 0.8rem;
        line-height: 0.5rem;
        background: #8cd92d;
        .sub-data{
          font-size: 0.3rem;
        }
        .time{
          position: absolute;
          bottom: 10px;
          right: 10px;
          color: rgba(255, 255,255,0.8);
          font-size: 0.2rem;
          cursor: default;
          .icon{
            display: inline-block;
            width: 0.3rem;
            vertical-align: middle;
            cursor: pointer;
          }
        }
      }
      .quota{
        margin-top: 20px;
        &-item{
          .quota-title{
            padding: 10px;
            border-bottom: solid 1px #ccc;
            .quota-icon{
              width: 1rem;
              margin-right: 10px;
            }
            .text{
              flex: 1;
              .p1{
                font-size: 0.4rem;
                color: #000;
              }
              .p2{
                font-size: 0.25rem;
                color: #999
              }
            }
            .quota-right{
              font-size: 0.4rem;
              color: rgb(68,218,128);
              .arrow{
                display: inline-block;
                width: 0.4rem;
                vertical-align: middle;
                transition: all 0.3s;
                transform-origin: center;
                &.rotate{
                  transform: rotate(180deg)
                }
              }
            }
          }
          .quota-content{
            padding-bottom: 20px;
            overflow: hidden;
            &.hide{
              height: 0;
              transition: height 0.3s;
            }
            .update-time{
              margin: 20px 0;
              font-size: 0.08rem;
              color: #b7b6b6;
              span{
                display: inline-block;
                padding: 5px 10px;
                background: #f5f5f5;
                border-radius: 0.5rem;
              }
            }
            .chart{
              flex-wrap: wrap;
              li{
                flex: 0 1 50%;
                flex-direction: column;
                margin-top: 20px;             
                .title{
                  font-size: 0.2rem;
                  line-height: 0.3rem;
                }
                .unit{
                  font-size: 0.18rem;
                  line-height: 0.3rem;
                }
                .leval{
                  font-size: 0.18rem;
                  line-height: 0.3rem;
                }
                .canvas{
                  margin-top: 10px;
                  width: 100%;
                  height: 100%;
                }
              }
              .circle{
                position: relative;
                width: 2rem;
                height: 2rem;
                border: solid 4px #ccc;
                border-radius: 50%;
                .point{
                  position: absolute;
                  left: 0;
                  top: 0; 
                  width: 2rem;
                  height: 2rem;
                  display: block;
                  transform: rotate(30deg) ;
                  transform-origin: center center;           
                  span{
                    display: block;
                    position: absolute;
                    left: 1rem;
                    top: -6px;
                    width: 10px;
                    height: 10px;
                    background: rgb(68,218,128);
                    border-radius: 50%;
                  }
                }
                &-item{
                  position: absolute;
                  top: 0;
                  width: 1rem;
                  height: 2rem;
                  overflow: hidden;
                  &.left{
                    left: 0;
                  }
                  &.right{
                    right: 0;
                  }
                  .progress{
                    position: absolute;
                    top:0;
                    width: 2rem;
                    height: 2rem;
                    border:4px solid transparent;
                    border-radius: 50%;
                    box-sizing: border-box;
                    &.progress-left{
                      border-top:6px solid green;
                      border-left:6px solid green;
                      left: 0;
                    }                  
                  }
                }
              }
            }
          }
        }
      }
    }
    .report{
      padding: 0 0.2rem;
      background: url(../images/report_bg.png) #fff no-repeat;
      background-size: 100% 100%;
      &-title{
        padding: 0.5rem 0;
        font-size: 0.4rem;
        color: #23c1f0;
      }
      &-wrapper{
        margin: 20px auto;
        width: 95%;
        align-items: flex-end;  
        flex-wrap: wrap;     
        .report-item{
          margin-top: 20px;
          flex: 0 1 30%;
          img{
            vertical-align: middle;
          }
          p{
            padding-top: 10px;
            font-size: 0.25rem;
            color: #999;
          }
        }
      }
    }
    .wrap{
      margin-top: 20px;
      padding: 20px 0;
      width: 100%;
      box-sizing: border-box;
      background: #fff;
      border-radius: 10px;
      &-title{
        font-size: 0.3rem;
        font-weight: normal;
        padding-bottom: 10px;
        border-bottom: solid 1px #e1e1e1;
        .level{
          color: $main-color;
        }
      }
      .map{
        margin: 20px auto 0;        
        width: 95%;
        height: 3rem;
        line-height: 3rem;
        background: #ccc
      }
      .indicator{    
        padding: 0 10px;
        box-sizing: border-box;  
        flex-wrap: wrap; 
        &-item{
          margin-top: 20px;          
          flex: 0 1 48%;
          span{
            font-size: 0.2rem;
            line-height: 0.4rem;
            &.text{
              color: #A4A4A4
            }
            &.value{
              color: $main-color;
            }
          }
          .progress{
            display: block;
            width: 100%;
            height: 8px;
            border-radius: 4px;
          }
        }
      }
      .enterprise{
        margin: 0 auto;
        width: 95%;
        &-item{
          padding: 8px 0;
          border-bottom: 1px solid #F5F5F5;
          span{
            font-size: 0.25rem;
            &.name{
              color: #BDBDBD;
            }
            &.value{
              padding-left: 30px;
              color: #000;
            }
            &.location{
              i{
                display: inline-block;
                width: 0.3rem;
                vertical-align: middle;
              }
              color: #18c6e0;
              vertical-align: middle;
            }
          }
        }
      }
      .report-wrapper{
        align-items: flex-start;
        .report-item{
          margin-right: 3%;
          &::nth-child(3n){
            margin-right: 0;
          }
        }
      }
    }
    .operate{
      flex-wrap: wrap;
      &-item{
        position: relative;
        padding: 10px;
        flex: 0 1 48%;
        width: 48%;
        margin-top: 20px;
        font-size: 0.24rem;
        background: #fff;
        box-sizing: border-box;
        border-radius: 10px;
        .step{
          position: absolute;
          left: 10px;
          top: -0.25rem;
          display: block;
          width: 0.5rem;
          height: 0.5rem;
          line-height: 0.5rem;
          background: #fff;
          border-radius: 50%;
        }
        .text-wrapper{        
          color: #999;
        }
        .text{
          display: inline-block;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .img-wrapper{
          margin-top: 10px;
          .img-item{
            flex: 0 1 30%;
            margin-right: 2%;
          }
        }
      }
      &-title{
        line-height: 0.3rem;
        color: #666;
      }
      
    }
  }
}
.fixed{
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0,0.8);
  z-index: 999;
  &.hide{
    display: none;
  }
  &-content{
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px 0;
    width: 95%;
    background: #fff;
    font-size: 0.3rem;
    overflow: hidden;
    border-radius: 10px;
    .fixed-text{
      display: none;
    }
    .fixed-title{
      font-size: 0.5rem;
    }
    .desc{
      margin: 10px auto;
      width: 95%;
      span{
        color: #999;
      }
      .text{
        margin-top: 10px;
        color: #999;
      }
    }
  }
  &-container{
    position: relative;
    width: 95%;
    .close{
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.1rem;
      background: #fff;
    }
    .swiper-slide{
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  }
}
