*{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none
}
img{
  display: block;
  height: auto;
  width:100%; 
}
.text-c{
  text-align: center;
}
.text-l{
  text-align: left;
}
.text-r{
  text-align: right;
}
.fll{
  float: left;
}
.flr{
  float: right;
}
.ovf{
  overflow: hidden;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-bet{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
$main-color: #8cd92d;
$default-color: #696969;
header .logo{
  padding: 10px;
  width: 61%;
}
.banner{
  .swiper-container {
    width: 100%;
    padding: 20px 0 50px 0;
    background: #f9f9f9;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;  
    }
  }
}
.goods-info{
  .title{
    padding: 10px;
    font-size: 0.4rem;
  }
  .text-content{
    padding: 0 20px;
    font-size: 0.3rem;
    text-indent: 2em;
  }
  ul{
    .item{
      flex: 1;
      padding: 30px 0;
      position: relative;
      &:nth-child(1)::before{
        contain: '';
        display: none;
      }
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        display: inline-block;
        margin-top: -0.5rem;
        width: 2px;
        height: 1rem;
        background: #e2e2e2;
        transform: rotate(20deg)
      }
      span{
        display: block;
        
        line-height: 0.4rem;
        &.light{
          font-size: 0.3rem;
          color: $main-color
        }
        &.default{
          font-size: 0.28rem;
          color: #999;
        }
      }
    }
  }
  
}
.recite{
  padding: 20px 15px;
  border-top: solid 1px #969696;
  border-bottom: solid 1px #969696;
  box-sizing: border-box;
  &-left{
    .left-item{
      margin-right: 10px;
    }
  }
  &-right{
    display: flex;
    align-items: center;
  }
  a{
    display: inline-block;
    padding: 0.1rem 0.2rem;
    font-size: 0.3rem;
    border-radius: 5px;
    &.left-item{
      color: #f00;
      border: solid 2px #f00;      
    }
    &.right-item{
      color: $main-color;
      border: solid 2px $main-color;
    }
  }
}

.tab{
  padding: 20px 0;
  margin-top: 30px;
  box-shadow: 0 -5px 5px 0px #ccc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  &-item{
    flex: 1;
    font-size: 0.36rem;
    color: #696969;
    transition: color 0.3s;
    &.active{
      color: $main-color
    }
  }
}
.container{
  padding: 15px;
  width: 100%;
  background: #f0f0f0;
  box-sizing: border-box;  
  .tab-content{
    display: none;
    &.active{
      display: block;
    }
    .detection{
      margin-top: 30px;
      background: #fff;
      border-radius: 10px;
      &-title{
        padding: 15px 10px;
        border-bottom: solid 1px #ccc;
        .icon-title{
          font-size: 0.3rem;
          color: $main-color;
          i{
            display: inline-block;
            width: 0.36rem;
            margin-right: 5px;
          }
        }
        span{
          font-size: 0.26rem;
          color: $default-color;
        }
      }
      .video-title{
        padding: 10px;
        border-bottom: solid 1px #ccc;
        span{
          font-size: 0.32rem;
        }
        a{
          width: 0.4rem;
          height: 0.4rem;
          border-top: solid 2px #ccc;
          border-left: solid 2px #ccc;
          transform-origin: center center;
          &.btn-prev{
            transform: rotate(-45deg);
          }
          &.btn-next{
            transform: rotate(135deg)
          }
        }
      }
      .video{
        position: relative;
        margin-top: 20px;
        width: 100%;
        height: auto;
        &-swiper{
          width: 100%;
          height: 260px;
          .video-wrapper{
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        .btn{
          position: absolute;
          width: 1rem;
          height: 1rem;
          background: red
        }
      }
    }
    .data-view{
      position: relative;
      margin-top: 20px;
      padding: 1rem 0;
      color: #fff;
      font-size: 0.8rem;
      line-height: 0.5rem;
      background: #8cd92d;
      .sub-data{
        font-size: 0.3rem;
      }
      .time{
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: rgba(255, 255,255,0.8);
        font-size: 0.2rem;
        cursor: default;
        .icon{
          display: inline-block;
          width: 0.3rem;
          vertical-align: middle;
          cursor: pointer;
        }
      }
    }
    .quota{
      margin-top: 20px;
      &-item{
        .quota-title{
          padding: 10px;
          border-bottom: solid 1px #ccc;
          .quota-icon{
            width: 1rem;
            margin-right: 10px;
          }
          .text{
            flex: 1;
            .p1{
              font-size: 0.4rem;
              color: #000;
            }
            .p2{
              font-size: 0.25rem;
              color: #999
            }
          }
          .quota-right{
            font-size: 0.4rem;
            color: rgb(68,218,128);
            .arrow{
              display: inline-block;
              width: 0.4rem;
              vertical-align: middle;
            }
          }
        }
        .quota-content{
          padding-bottom: 20px;
          .update-time{
            margin: 20px 0;
            font-size: 0.08rem;
            color: #b7b6b6;
            span{
              display: inline-block;
              padding: 5px 10px;
              background: #f5f5f5;
              border-radius: 0.5rem;
            }
          }
          .chart{
            .circle{
              position: relative;
              width: 2rem;
              height: 2rem;
              border: solid 4px #ccc;
              border-radius: 50%;
              .point{
                position: absolute;
                left: 0;
                top: 0; 
                width: 2rem;
                height: 2rem;
                display: block;
                transform: rotate(30deg) ;
                transform-origin: center center;           
                span{
                  display: block;
                  position: absolute;
                  left: 1rem;
                  top: -6px;
                  width: 10px;
                  height: 10px;
                  background: rgb(68,218,128);
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}

