*{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none
}
img{
  display: block;
  height: auto;
  width:100%; 
}
.text-c{
  text-align: center;
}
.text-l{
  text-align: left;
}
.text-r{
  text-align: right;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-bet{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
$main-color: #8cd92d;
$default-color: #696969;
header .logo{
  padding: 10px;
  width: 61%;
}
.swiper-container {
  width: 100%;
  padding: 20px 0 50px 0;
  background: #f9f9f9;
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;  
  }
}
.goods-info{
  .title{
    padding: 10px;
    font-size: 0.4rem;
  }
  .text-content{
    padding: 0 20px;
    font-size: 0.3rem;
    text-indent: 2em;
  }
  ul{
    .item{
      flex: 1;
      padding: 30px 0;
      position: relative;
      &:nth-child(1)::before{
        contain: '';
        display: none;
      }
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        display: inline-block;
        margin-top: -0.5rem;
        width: 2px;
        height: 1rem;
        background: #e2e2e2;
        transform: rotate(20deg)
      }
      span{
        display: block;
        
        line-height: 0.4rem;
        &.light{
          font-size: 0.3rem;
          color: $main-color
        }
        &.default{
          font-size: 0.28rem;
          color: #999;
        }
      }
    }
  }
  
}
.recite{
  padding: 20px 15px;
  border-top: solid 1px #969696;
  border-bottom: solid 1px #969696;
  box-sizing: border-box;
  &-left{
    .left-item{
      margin-right: 10px;
    }
  }
  &-right{
    display: flex;
    align-items: center;
  }
  a{
    display: inline-block;
    padding: 0.1rem 0.2rem;
    font-size: 0.3rem;
    border-radius: 5px;
    &.left-item{
      color: #f00;
      border: solid 2px #f00;      
    }
    &.right-item{
      color: $main-color;
      border: solid 2px $main-color;
    }
  }
}

.tab{
  padding: 20px 0;
  margin-top: 30px;
  box-shadow: 0 -5px 5px 0px #ccc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  &-item{
    flex: 1;
    font-size: 0.36rem;
    color: #696969;
    transition: color 0.3s;
    &.active{
      color: $main-color
    }
  }
}
.container{
  margin: 20px 0;
  padding: 15px;
  width: 100%;
  background: #f0f0f0;
  box-sizing: border-box;  
  .tab-content{
    display: none;
    .detection{
      background: #fff;
      border-radius: 10px;
      &-title{
        padding: 15px 10px;
        border-bottom: solid 1px #ccc;
        .icon-title{
          font-size: 0.3rem;
          color: $main-color;
          i{
            display: inline-block;
            width: 0.36rem;
            margin-right: 5px;
          }
        }
        span{
          font-size: 0.26rem;
          color: $default-color;
        }
      }
    }
    .video-detection{
      font-size: 0.26rem;
    }
    .day-detection{
      font-size: 0.26rem;
    }
    &.active{
      display: block;
    }
  }
}

